.selected-column-style1 {
  color: #dd0000;
  background-color: #dd000050;
}
.selected-column-style2 {
  color: #0004ff;
  background-color: #0004ff52;
}
.selected-column-style3 {
  color: #008800;
  background-color: #00880052;
}
.selected-column-style4 {
  color: #887f00;
  background-color: #d4c600;
}
.selected-column-style5 {
  color: #dd0099;
  background-color: #dd009b50;
}

.hover-formula-style1 {
  color: #dd0000;
}
.hover-formula-style2 {
  color: #0004ff;
}
.hover-formula-style3 {
  color: #008800;
}
.hover-formula-style4 {
  color: #887f00;
}
.hover-formula-style5 {
  color: #dd0099;
}

.columnYear {
  max-width: fit-content;
}

.entry {
  max-width: 3em;
}

#current-year {
  max-width: 6em;
}

.grid {
  align-items: center;
}
